@use "../variables.scss" as *;

.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px; //espace pour ne pas chevaucher sous la navbar 
    padding-bottom: 80px;

    @media (max-width: $tablette-breakpoint) {
        padding-top: 130px;
        padding-bottom: 50px;
    }

    @media (max-width: $mobile-breakpoint) {
        padding-top: 80px;
    }

    &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7e7e7ecc; //teinte de l'overlay
    z-index: 1;
    }

    h1{
        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */

        @media (max-width: $tablette-breakpoint) {
            font-size: 60px;
        }
    
        @media (max-width: $mobile-breakpoint) {
            font-size: 50px;
        }
    }

    h2 {
        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */
        
        color: $secondary-color;
        margin-block: 12px;
        text-align: center;

        @media (max-width: $tablette-breakpoint) {
            font-size: 36px;
        }
    
        @media (max-width: $mobile-breakpoint) {
            margin-top: 18px;
            margin-bottom: 0;
            font-size: 30px;
        }
    }

    p {
        color: $primary-color;
        font-weight: 300;
        text-align: center;

        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */
    }

    &_presentation {
        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */
    
        margin-top: 30px;
        margin-bottom: 100px;

        @media (max-width: $tablette-breakpoint) {
            margin-bottom: 50px;
        }

        @media (max-width: $mobile-breakpoint) {
            padding-inline: 5%;
            text-align: justify;
        }

    }

    &_divider {
        border: none;
        border-top: 1px solid $primary-color;
        margin: 40px 0;
        width: 30%;

        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */

        
        @media (max-width: $mobile-breakpoint) {
            margin: 25px 0;
            margin-bottom: 7px;
        }
    }

    &_from {
        font-size: $detail-fontsize;
        margin-top: 0px;
        margin-bottom: 0px;

        position: relative;
        z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */

        span{
            font-weight: 500 ;
        }
    }
}

.button-container {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2; /* Pour qu'ils passent au-dessus de l'overlay */

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        gap: 10px;
    }

    &_actions {
        background-color: $secondary-color;
        color: $primary-color;
        padding-block: 10px;
        padding-inline: 25px;
        border: 4px solid $secondary-color;
        cursor: pointer;
        font-size: $detail-fontsize;
        font-weight: $button-fontweight;
        transition: all 0.3s ease;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $mobile-breakpoint) {
            width: 230px;
            padding-block: 5px;
            padding-inline: 12px;
            border: 2px solid $secondary-color;
        }

        &:hover {
            background-color: transparent;
        }
    }
}