@use '../variables.scss' as *;

.headerBand {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $header-color;

    display: flex;
    justify-content: center;

    &--red {
        background-color: black;
      }

    &_logo {
        width: 60px;
        padding-block: 7px;
        display: none;

        @media (max-width: $mobile-breakpoint) {
            display: block;
        }
    }

    &_content {
        display: flex;

        @media (max-width: $mobile-breakpoint) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-inline: 20px;
        }
    }
}