@use '../styles/variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


* {
    font-family: "Noto Sans JP";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: v.$background-color;
    font-size: v.$basic-fontsize;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: v.$primary-color;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}