@use '../styles/variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


* {
    font-family: "Noto Sans JP";
}

body{
    background: v.$background-color;
    font-size: v.$basic-fontsize;
    margin: 0;
    padding: 0;
}