$basic-fontsize: 20px;
$detail-fontsize: 16px;
$button-fontweight : 500;

$primary-color: white;
$secondary-color: #29226d; //#152269

$background-color: rgb(255, 247, 240);
$header-color: rgba(35, 35, 35, 0.582);